<h1>Manage Documents</h1>

<p>Employee: <strong>{{employee.name}}</strong></p>
<p>Documents stored: {{fileCount}} / 5</p>

{{#if message}}<p style="color:red">{{message}}</p>{{/if}}

{{#if canUpload}}
    <h2>Upload New Document</h2>
    <form method="POST" action="/employee/{{employee._id}}/upload" enctype="multipart/form-data">
        <label>Choose a PDF file (max 2MB):</label><br>
        <input type="file" name="document" accept=".pdf,application/pdf" required><br><br>
        <button type="submit">Upload</button>
    </form>
{{else}}
    <p style="color:red">Document limit reached (5 max). Remove a file to upload a new one.</p>
{{/if}}

<h2>Stored Documents</h2>
<ul>
    {{#if files}}
        {{#each files}}
            <li>
                {{this.originalName}}
                ({{this.size}} bytes &mdash; {{this.uploadedAt}})
                &nbsp;<a href="/employee/{{this.employeeId}}/documents/{{this._id}}">Download</a>
            </li>
        {{/each}}
    {{else}}
        <p>No documents on file for this employee.</p>
    {{/if}}
</ul>

<a href="/">Back to Home</a>
